body {
    background-color: rgb(81, 81, 81);
    font-family: Blender Pro;
}

.buttonsMenu {
    display: flex;
    text-align: center;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.main1 p{
    display: none;
    box-shadow: inset 0px 0px 40px 8px rgb(0, 0, 0), 0px 10px 60px 0px rgb(0, 0, 0);
    padding: 20px;
    border-radius: 20px;
    user-select: none;
    color: rgb(186, 186, 186);
    margin-inline:190px ;
    text-align: justify;
    font-size: 30px;
}

@media (max-width: 720px){
    .buttonsMenu, #RAID, #SHOP, #INVENTORY, #STATS{
        height: 100px;
        font-size: 30px;
        width: 100%;
    }
    .buttonsMenu{
        height: 140px;
    }
}

@media (max-width: 500px){
    .buttonsMenu, #RAID, #SHOP, #INVENTORY, #STATS{
        margin: 0 auto;
        height: 50px;
        font-size: 12px;
        width: 295px;
        padding: 5px;
        margin-inline:5px ;
    }
    .buttonsMenu{
        margin: 0 auto;
        height: 70px;
    }
    .main1 p{
        display: none;
        box-shadow: inset 0px 0px 40px 8px rgb(0, 0, 0), 0px 10px 60px 0px rgb(0, 0, 0);
        padding: 20px;
        border-radius: 20px;
        user-select: none;
        color: rgb(186, 186, 186);
        margin-inline:190px ;
        text-align: justify;
        font-size: 5px;
    }
}

.buttonsMenu a {
    width: 100%;
    user-select: none;
    margin-inline: 10px;
    border-radius: 10px;
    box-shadow: 0 0px 20px 5px rgb(0, 0, 0);
    overflow: hidden;
    padding: 10px;
    font-size: 40px;
    background-color: rgb(0, 0, 0);
    color: rgb(212, 107, 32);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttonsMenu span {
    transition: 0.5s;
    display: flex;
    width: 0%;
    color: rgb(212, 107, 32);
    border-bottom: 2px solid;
}

.buttonsMenu a:focus {
    color: rgb(238, 255, 0);
}

.buttonsMenu a:focus span {
    box-shadow: 0px -8px 40px 8px rgb(255 81 0), 0px -13px 60px 8px rgb(255 81 0);
    width: 100%;
    text-align: center;
    color: rgb(212, 107, 32);
    border-bottom: 2px solid;
}